stages:
  - build

build_project:
  stage: build
  script:
    - set -o pipefail && xcodebuild clean -project PitchPerfect.xcodeproj -scheme PitchPerfect | xcpretty
    - set -o pipefail && xcodebuild test -project PitchPerfect.xcodeproj -scheme PitchPerfect -destination 'platform=iOS Simulator,name=iPhone 7,OS=10.2' | xcpretty -s
  tags:
    - ios
    - xcode 
    - mac 
    - mac-mini
    - serria

archive_project:
  stage: archive
  script:
    - xcodebuild clean archive -archivePath build/PitchPerfect -scheme PitchPerfect
    - xcodebuild -exportArchive -exportFormat ipa -archivePath "build/PitchPerfect.xcarchive" -exportPath "build/PitchPerfect.ipa"
  only:
    - master
  artifacts:
    paths:
    - build/PitchPerfect.ipa
  tags:
    - ios
    - xcode 
    - mac 
    - mac-mini
    - serria